* {
    box-sizing:inherit;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;

}

body {
    background-color: #ffffff;
}
/*header*/
 header {
    padding: 25px;
    font-family: 'Courier New';
    background-image: url("../images/Backround\ for\ Profressional\ Portfolio.png");
    color: white;
}

header h1 {
    display:inline-flex;
    font-size: 30px;
}
/*make my last name different color*/
header h1 .Park {
color:rgb(194, 202, 196);
}
/*nav*/
header nav {
    float: right;
    font-size: 20px;
    display: inline-flex;
    font-family: 'Courier New';
    
}

header nav ul {
    list-style-type: none;
    display: inline-block;
}

header nav ul li {
    display: inline-block;
    margin: 20px;
}

a {
    color:white;
    text-decoration: none;
}

p {
    font-size: 25px;
}

.main-me {
    height: 700px;
    width: 100%;
    margin-bottom: 15px;
    background-image: url("../images/Backround\ for\ Profressional\ Portfolio.png");
    background-size: cover;
    background-position: center;
    outline-style: ridge;
    outline-width: medium;
    outline-color: white;
}

.content {
    width: 100%;
    display: inline-block;
    margin: 30px 30px 30px 0px;
}

.nav-buttons {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family:'Courier New', Courier, monospace;
    background-color: black;
    color:white;
    outline-style:ridge;
    outline-width: medium;
    outline-color: rgb(5, 39, 175);
    border-radius: 25px;
    
}

.nav-buttons h2{
    margin-bottom: 40px;
    font-size: 60px;
    text-align: center;
}
.contact-form{
    padding: 20px;
    height: 600px;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
    color: black;
    font-style: bold;
    font-size: 35px;
    text-align: center;
    border-radius: 25px;
}
/*Style input for contact me form*/
    input[type=text], select, textarea {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 25px; 
    box-sizing: border-box; 
    margin-bottom: 10px; 
    resize: vertical 
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-image: url("../images/Backround\ for\ Profressional\ Portfolio.png");
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor:pointer;
  }
  
  /* add black over the submit button */
  input[type=submit]:hover {
    background-color: black;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 50px;
  }
  footer.h3{
    text-align: center;
  }
  .container {
    position: relative;
  }
  .text-block{
    position: absolute;
    margin: 0;
    background-color: pink;
    color:#ffffff;


    .pfp{
        flex: 1 0 0;
        padding: 10px;
        text-align: center;
        border-style: solid;
        border-width: 1px;
      }
      
      .pfp header {
        padding: 20px;
        background: #13293d;
        color: #fff;
      }
      
      .pfp img {
        width: 100%;
        min-width: 400px;
      }
      
      /* Tablets - header changes color */
@media screen and (max-width: 992px) {
    header {
      background: #772014;
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    nav {
      background-color: #bb8588;
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    .sample-img {
      background-color: #8ac4ff;
    }
  }
  