* {
    box-sizing:inherit;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;

}

body {
    background-color: #ffffff;
}
/*header*/
 header {
    padding: 25px;
    font-family: 'Courier New';
    background-image: url("../images/back-pro-port.png");
    color: white;
}

header h1 {
    display:inline-flex;
    font-size: 30px;
}
/*make my last name different color*/
header h1 .Park {
color:rgb(194, 202, 196);
}


/*nav*/
header nav {
    float: right;
    font-size: 20px;
    display: inline-flex;
    font-family: 'Courier New';
    
    
}

header nav ul {
    list-style-type: none;
    display: inline-block;
}

header nav ul li {
    display: inline-block;
    margin: 20px;
}

a {
    color:white;
    text-decoration: none;
}

p {
    font-size: 25px;
}
/* MAIN SECTION*/
.main-me {
    height: 700px;
    width: 100%;
    margin-bottom: 15px;
    background-image: url("../images/back-pro-port.png");
    background-size: cover;
    background-position: center;
    outline-style: ridge;
    outline-width: medium;
    outline-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    border-radius: 25px;
}

.content {
    width: 100%;
    display: inline-block;
    margin: 30px 30px 30px 0px;
}

.nav-buttons {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family:'Courier New', Courier, monospace;
    background-color: black;
    color:white;
    outline-style:ridge;
    outline-width: medium;
    outline-color: rgb(5, 39, 175);
    border-radius: 25px;
    
}

.nav-work {
    margin-bottom: 20px;
    padding: 50px;
    height: 500px;
    font-family:'Courier New', Courier, monospace;
    background-color: black;
    color:white;
    outline-style:ridge;
    outline-width: medium;
    outline-color: rgb(5, 39, 175);
    border-radius: 25px;
    font-size: 40px;
    text-align: center;
    
}
.nav-buttons h2{
    margin-bottom: 40px;
    font-size: 60px;
    text-align: center;
}
.nav-contact{
    padding: 20px;
    height: 600px;
    margin:55px
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
    color: black;
    font-style: bold;
    font-size: 35px;
    text-align: center;
    border-radius: 25px;
}
/*Style input for contact me form*/
    
input[type=text], select, textarea {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 25px; 
    box-sizing: border-box; 
    margin-bottom: 10px; 
    resize: vertical 
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-image: url("../images/back-pro-port.png");
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor:pointer;
  }
  
  /* add black over the submit button */
  input[type=submit]:hover {
    background-color: black;
  }
  
      /* Tablets - header changes color */
@media screen and (max-width: 992px) {
    header {
      background: black;
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    nav {
      background-color: blue;
      border-radius: 20px;
      
    }
  }
  
  .nav-direct {
    border-radius: 25px;
    padding: 50px;
    height: 80px;
    font-family:'Courier New', Courier, monospace;
    background-color: black;
    color:white;
    outline-style:ridge;
    outline-width: medium;
    outline-color: rgb(5, 39, 175);
    text-align: center;
    margin-top: 30px;
}

.nav-direct h3{
    font-size: 40px;
}

.nav-direct p {
    position: relative;
    text-decoration: underline;
}

.flexbox-container {
    display: flex;
    justify-content: center;
}

.flexbox-item {
    width: 400px;
    margin: 10px;
    border-radius: 10px;
  border: blue;
  border-radius: 15px;
  flex-grow: 5px;
  cursor: pointer;
height: 250px;
padding-top: 50px;
}

.flexbox-item-1 {
    background-image: url(../images/mountains.png);
    width: 400px;
}
.flexbox-item-3 {
    background-image: url(../images/fire.png);
}
.flexbox-item-2 {
  background: url(../images/water.png);
}

.flexbox-container:hover {

}